@model VeggieBack.Models.User

@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameUser" class="control-label"></label>
                <input asp-for="nameUser" class="form-control" />
                <span asp-validation-for="nameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastNameUser" class="control-label"></label>
                <input asp-for="lastNameUser" class="form-control" />
                <span asp-validation-for="lastNameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="statusUser" class="control-label"></label>
                <input asp-for="statusUser" class="form-control" />
                <span asp-validation-for="statusUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailUser" class="control-label"></label>
                <input asp-for="emailUser" class="form-control" />
                <span asp-validation-for="emailUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfBirth" class="control-label"></label>
                <input asp-for="dateOfBirth" class="form-control" />
                <span asp-validation-for="dateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
